.contact__contactform-container {
    display: flex;
    justify-content: center;
}

.contact__contactform-container form {
    padding: 40px;
    margin: 80px;
    background-color: #E4E7ED;
    border: none;
    border-radius: 10px;
    min-width: 500px;
}

.contact__contactform-container h2 {
    padding-bottom: 30px;
}

.contact__contactform-container__field--name {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
}

.contact__contactform-container__field--name-firstname input {
    margin-top: 5px;
    padding: 7px;
    border-radius: 10px;
    border: none;
    width: 200px;
}

.contact__contactform-container__field--name-lastname input {
    margin-top: 5px;
    padding: 7px;
    border-radius: 10px;
    border: none;
    width: 200px;
}

.contact__contactform-container__field--email {
    padding-bottom: 15px;
}

.contact__contactform-container__field--email input {
    width: 100%;
    padding: 7px;
    margin-top: 5px;
    border-radius: 10px;
    border: none;
}

.contact__contactform-container__field--message textarea {
    width: 100%;
    margin-top: 5px;
    border-radius: 10px;
    border: none;
    padding: 5px;
}

.contact__contactform-container__button-container{
    padding: 20px 0;
}

.submitButton {
    width: 125px;
    padding: 8px 5px;
    background-color: #0c42ad;
    color: white;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.05em;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.resetButton {
    width: 125px;
    padding: 8px 5px;
    margin-left: 15px;
    background-color: #0c42ad;
    color: white;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.05em;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}