.project {
    display: flex;
    justify-content: center;
    padding: 10% 5%;
    margin-bottom: 150px;
}

.project__container__image-container {
    display: flex;
}

.project__image-container__img-slider--left, 
.project__image-container__img-slider--right {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    max-width: 5%;
    border-radius: 2rem;
    border: none;
    font-size: 30px;
    color: white;
    transition: 0.5s;
}

.project__image-container__img-slider--left:hover, 
.project__image-container__img-slider--right:hover {
    background-color: rgba(95, 95, 94, 0.331);
}

.project__container__image-container__img-container img {
    width: 98%;
    height: auto;
    transition: transform 0.7s;
    z-index: 10;
}

.project__container__image-container__img-container img:hover {
    transform: scale(1.5);
    max-width: 100%;
    position: relative;
}

.image--off {
    display: none;
}

.project__container__image-counter {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;
    padding: 10px 10px;
    cursor: pointer;
}

.project__container__image-counter p {
    font-size: 1rem;
    color: white;
    padding: 5px;
}

.image--active p {
    color: grey;
    transform: scale(1.5);
}

.project__container__info-container {
    background-color: var(--background-color-project);
    margin: 20px auto;
    width: 90%;
    border-radius: 25px;
    padding: 10px 5% 30px 5%;
}

.project__container__info-container--status {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.project__container__info-container--status p {
    border: 3px solid white;
    border-radius: 20px;
    padding: 5px 10px;
    width: fit-content;
    font-weight: 600;
    letter-spacing: 0.05em;
    color: white;
}

.project__container__info-container--info {
    padding: 10px 30px;
    color: var(--font-color-project);
}

.project__container__info-container--info h2 {
    padding: 20px;
    font-size: 30px;
}

.project__container__info-container--info p {
    text-align: center;
    padding: 25px 0;
    font-size: 20px;
}

.project__container__info-container--tech {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px 30px;
}

.project__container__info-container--tech h3 {
    border: 3px solid white;
    padding: 5px 20px;
    border-radius: 20px;
    letter-spacing: 0.05em;
    color: white;
}

.project__container__info-container--links {
    padding: 5px 30px;
}

.project__container__info-container--links button {
    font-size: 20px;
    padding: 5px 20px;
    margin: 10px 30px;
    border-radius: 20px;
    border: 3px solid grey;
    cursor: pointer;
}

@media screen and (max-width: 1350px) {
    .project__container__image-container__img-container img:hover {
        transform: scale(1.35);
    }
}

@media screen and (max-width: 1024px) {
    .project {
        padding: 10% 0;
    }

    .project__container__image-container__img-container img:hover {
        transform: none;
    }
}

@media screen and (max-width: 720px) {
    .project__container__info-container--info {
        padding: 10px 0;
    }

    .project__container__info-container--info p {
        text-align: center;
    }

    .project__container__info-container--tech {
        gap: 15px;
    }

    .project__container__info-container--tech {
        padding: 20px 0;
    }

    .project__container__info-container--tech h3 {
        border: 2px solid white;
        padding: 5px 20px;
        font-size: 15px;
    }
}