.techstack {
    background-color: blue;
    margin: 60px 100px;
    padding: 49px;
    border: none;
}

.techstack__heading {
    padding-bottom: 40px;
}

.techstack__heading h1 {
    font-size: 50px;
    letter-spacing: 0.05em;
}

.techstack__tab-container__navbar {
    display: flex;
    justify-content: space-around;
    padding: 60px;
}


.techstack__tab-container__section img {
    max-width: 100px;
    height: auto;
}

.logo__spacing {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.logo__spacing div{
    padding: 30px;
}


.tabs {
    padding: 30px;
}

.active-tab {
    color: orange;
    border-bottom: 4px solid black;

}

.unactive-tab {
    color: white;
    cursor: pointer;
}

.unactive-tab:hover {
    font-size: 24px;
    padding: 0;
}

.invisible {
    display: none;
}