.techstack {
    background-color: var(--background-color-tech);
    margin: 300px auto;
    padding: 70px 5%;
    border: none;
    width: 60%;
    min-width: 350px;
}

.techstack__heading {
    padding-bottom: 40px;
    color: white;
}

.techstack__heading h1 {
    font-size: 50px;
    text-align: center;
    letter-spacing: 0.05em;
}

.techstack__tab-container__navbar {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 60px;
}

.techstack__tab-container__section img {
    max-width: 100px;
    height: auto;
}

.logo__spacing {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.logo__spacing div{
    padding: 30px;
}


.tabs {
    padding: 30px;
}

.active-tab {
    color: orange;
    text-decoration: 5px underline orange;

}

.unactive-tab {
    color: white;
    cursor: pointer;
    padding: 10px;
    transition: 0.3s;
}

.unactive-tab:hover {
    font-size: 24px;
    padding: 0;
}

.invisible {
    display: none;
}

@media screen and (max-width: 480px) {
    .techstack__heading h1 {
        font-size: 40px;
    }

    .techstack__tab-container__section img {
        max-width: 150px;
        height: auto;
    }
}