.navbar {
    padding: 20px 40px;
}

.navbar__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.navbar__links-logo {
    padding: 5px;
    padding-right: 15px;
}

.navbar__links-logo p {
    color: white;
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 0.1em;
    font-family: "Kaushan Script", cursive;
}

.navbar__links-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 70%;
}


.navbar__links-container--web {
    display: flex;
    flex: 0.75;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.navbar__links-container--web p {
    color: white;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.navbar__links-container--web p:hover {
    text-decoration: underline;
    text-decoration-color: orange;
}

.navbar__links-hamburgermenu {
    display: none;
    font-size: 60px;
    color: white;
    padding: 10px;
}

.navbar__links-hamburgermenu--closed {
    display: none;
}

.navbar__links-hamburgermenu--exit {
    position: absolute;
    top: 5%;
    right: 10%;
    color: white;
    font-size: 3rem;
    cursor: pointer;
}

@media screen and (max-width: 1450px) {
    .navbar {
        padding: 10px 10px;
    }
    
    .navbar__links-logo p {
        font-size: 40px;
    }

    .navbar__links-container--web {
        flex: 1;
        gap: 0;
    }
    
    .navbar__links-container--web p {
        letter-spacing: 0.05em;
    }
}

@media screen and (max-width: 1024px) {
    .navbar__links-container {
        width: 40%;
    }

    .navbar__links-container--web {
        display: none;
    }

    .navbar {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: var(--background-color-navbar);
        padding: 0 5%;
    }

    .navbar__links-logo {
        padding: 0;
        margin: 0;
    }

    .navbar__links-logo p {
        font-size: 35px;
    }

    .navbar__links-hamburgermenu {
        display: flex;
        cursor: pointer;
    }

    .navbar__links-hamburgermenu--open {
        border: 2px solid black;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background-color: rgb(93, 93, 93);
        opacity: 95%;
        padding: 70px;
        text-align: center;
    }

    .navbar__links-hamburgermenu--open p {
        font-size: 50px;
    }

}

@media screen and (max-width: 480px) {
    .navbar__links-logo p {
        font-size: 30px;
    }

    .navbar__links-container {
        width: 35%;
        gap: 0px;
    }

    .navbar__links-hamburgermenu {
        font-size: 50px;
        padding: 0;
    }

}

