* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: var(--font-family);
}

html, body {
    height: 100%;
}

.App {
    /* ff 3.6+ */
    background: var(--background-ff);

    /* safari 5.1+,chrome 10+ */
    background: var(--background-safari);

    /* opera 11.10+ */
    background: var(--background-opera);

    /* ie 10+ */
    background: var(--background-ie);

    /* global 92%+ browsers support */
    background: var(--background-global);

    background-attachment: fixed;

}


a {
    text-decoration: unset;
    color: white;
}

.gradient__text {
    background: var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bold {
    font-weight: bold;
}