.header {
    padding: 300px 15% 0 15%;
    margin-bottom: 300px;

}

.header__heading {
    padding: 30px 5px;
}

.header__heading h1 {
    font-size: 50px;

}

.header__aboutme p {
    font-size: 24px;
}


@media screen and (max-width: 480px) {
    .header__floatbutton{
        display: none;
    }
}