.footer {
    background-color: blue;
    padding: 20px;
}

.footer__contact {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.footer__contact img {
    width: 50px;
}

.footer__copyright {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__copyright p {
    font-size: 24px;
    font-weight: bold;
}
