.footer {
    background-color: var(--background-color-footer);
    padding: 20px;
}

.footer__contact {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.footer__contact img {
    width: 60px;
    margin: 10px;
    padding: 5px;
    transition: 0.3s;
}

.footer__contact img:hover {
    background-color: rgba(192, 192, 192, 0.179);
}

.footer__copyright {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__copyright p {
    font-size: 24px;
    font-weight: bold;
    color: white;
    letter-spacing: 0.05em;
}

@media screen and (max-width: 720px) {
    .footer__contact img {
        margin: 0 10px 10px 10px;
    }

    .footer__contact{
        padding: 0;
    }

    .footer__copyright p {
        font-size: 18px;
    }
}